.header-text {
  color: white;
  padding: 70px;
}

.header-text h1 {
  color: white;
  margin: 0px;
  font-weight: bold;
  font-family: "Monda";
  font-size: 40px;
}

.header-text h2 {
  color: white;
  margin: 0px;
  font-family: "IBM Plex Mono";
  font-size: 22px;
}

.header-text a:hover:after {
  width: 100%;
  left: 0;
}

.header-text .button-group {
  padding-bottom: 20px;
}

.header-text .button-group button {
  color: white;
  margin-right: 20px;
  margin-top: 20px;
}

.header-text .button-group button:hover {
  background-color: white;
  color: black;
}

.code-container {
  padding: 70px;
}

.code-container pre::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 991px) {
  .header-text {
    padding-bottom: 0px;
  }
  .code-container {
    padding-top: 0px;
  }
}
